<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_right align-item-center">
                        <figure class="errorImg">
                            <img src="images/404.jpg" alt="weather" class="img-fluid" title="weather">
                        </figure>
                        {{!-- <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr"> Full Stack Developer </span> In Kriva Technolabs </h1> --}}
                        {{!-- <a href="/"><button>Home Page</button></a> --}}
                    </div>
                    <!-- Right side div -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}


    {{>footerLink}}
</body>

</html>